.page-header-wrap {
  background: $dark-blue;
  padding: 29px 0;
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logo {
    max-width: 145px;
    img {
      width: 100%;
    }
  }
}
.header-button a .login-mobile {
  display: none;
}
.hamburger {
  display: none;
  position: absolute;
  right: 0;
  svg {
    fill: #fff;
  }
}

.header-button {
  display: flex;
  font-weight: 100;
  > li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 36px;
    border: 1px solid $light-white;
    border-radius: 3px;
    font-size: 14px;
    transition: opacity .3s ease;
    &:hover {
      opacity: .5;
      text-decoration: none;
    }
    &:last-child {
      margin-right: 0;
    }
    > a {
      padding: 10px 25px;
      display: flex;
      align-items: center;
    }
  }
  img {
    margin-right: 10px;
    height: 20px;
  }
  //.icon-mobile {
  //  display: none;
  //}
  //.icon-desktop {
  //  display: none;
  //}
  .equipment-dropdown:hover {
    opacity: 1;
  }
  .equipment-btn {
    position: relative;
    padding-right: 74px;
    &:after {
      content: url(../img/arrow-white.png);
      position: absolute;
      right: 17px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      transform-origin: 50% 50%;
    }
  }
}

.equipment-menu {
  position: absolute;
  background: #32394a;
  border: 1px solid #edeff4;
  border-radius: 0 0 3px 3px;
  z-index: 10;
  display: none;
  padding: 25px 20px 28px;
  left: -1px;
  right: -1px;
  top: 40px;
  span {
    display: none;
    margin-bottom: 20px;
    color: #9fa4b3;
    font-weight: 600;
  }
  li {
    margin-right: 0;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a{
    border-bottom: 1px dashed;
    &:hover {
      color: #ffc947;
    }
  }
}
.header-button li.active {
  border-radius: 3px 3px 0 0;
  a:after {
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0);
  }
  .equipment-menu {
    display: block;
  }
}

@media (max-width: 992px) {
  .page-header-wrap {
    padding: 13px 0;
  }
  .header-button > li {
    margin-right: 20px;
  }
}


@media (max-width: 768px) {


}



@media (max-width: 767px) {
  .header-button img {
    margin-right: 0;
  }
  .header-button > li {
    margin-right: 10px;
  }

  .header-button {
    > li {
      > a {
        padding: 7px 10px 7px 8px;
      }
    }
    a {
      border: 0;
      padding: 0;
    }
    .equipment-btn {
      padding-right: 26px;
      &:after {
        right: 7px;
      }
    }
    .equipment-menu {
      width: 210px;
      left: -55px;
      top: 48px;
      span {
        display: block;
      }
    }
    //.installer-companies img {
    //  width: 20px;
    //  height: 23px;
    //}
  }
  .header-button li.active {
    img {
      margin-top: -1px;
    }
    .equipment-btn {
      &:before {
        position: absolute;
        content: '';
        height: 14px;
        bottom: -15px;
        left: -1px;
        right: -1px;
        background: #32394a;
        z-index: 11;
        border-left: 1px solid #edeff4;
        border-right: 1px solid #edeff4;
      }
    }
  }


  .header-button.active .equipment-dropdown.active .equipment-btn:after {
    transform: translateY(-50%) rotate(180deg);
  }
  .header-button.active .equipment-dropdown .equipment-btn:after {
    transform: translateY(-50%) rotate(0);
  }
  .header-button .equipment-btn:after {
    right: 0;
  }
  .header-button .equipment-dropdown.active .equipment-menu {
    display: none;
  }
  .header-button li.active {
    border-bottom: 1px solid;
  }
  .equipment-dropdown li:hover:before {
    background: #ffc947;
  }
  .header-button li.active .equipment-btn:before {
    display: none;
  }
  .header-button.active .equipment-menu {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    border: 0;
    padding: 5px 0 15px 55px;
  }
  .equipment-dropdown {
    flex-direction: column;
  }
  .header-button a .login {
    display: none;
  }
  .header-button a .login-mobile {
    display: block;
  }
  .hamburger.close svg {
    display: none;
  }
  .hamburger.close span {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 22px;
    background: transparent;
    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #e3e8ee;
      transform-origin: 50% 50%;
      transform: translateY(-50%);
      top: 50%;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .header-button a span {
    font-weight: 400;
    display: block;
    border-bottom: 1px dashed;
  }
  .header-button .equipment-btn span {
    border-bottom: 0;
  }
  .header-button > li > a {
    padding: 10px 0;
  }
  .header-button.active{
    display: block;
  }
  .header-button {
    display: none;
    position: absolute;
    left: -20px;
    right: -20px;
    top: 45px;
    z-index: 10;
    background: #32394a;
    padding: 20px 18px;
    box-shadow: inset 0 10px 80px rgba(0, 0, 0, 0.25);
    .equipment-dropdown {
      align-items: flex-start;
    }
    .equipment-menu {
      span {
        display: none;
      }
    }
  }
  .hamburger {
    display: block;
  }
  .page-header-wrap .logo {
    max-width: 120px;
  }

  .header-button > li {
    margin-right: 8px;
    border: 0;
    border-bottom: 1px solid #4c5467;
    &:last-child {
      border-bottom: 0;
    }
    img {
      margin-right: 11px;
      width: auto;
      height: auto;
      max-width: 17px;
    }
    .equipment-btn img {
      margin-right: 5px;
      margin-top: -1px;
    }
  }
  .equipment-menu li {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -12px;
      background: #969cac;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      color: #7b8292;
    }
  }

}



