<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-header/page-header.html')

-->
<header class="page-header-wrap" role="banner">
    <div class="container">
        <div class="page-header">
            <a href="#" class="logo">
                <img src="img/logo.png" alt="logo">
            </a>
            <div class="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" ratio="1">
                    <rect y="9" width="20" height="2"></rect>
                    <rect y="3" width="20" height="2"></rect>
                    <rect y="15" width="20" height="2"></rect>
                </svg>
                <span></span>
            </div>

            <ul class="header-button">
                <li class="equipment-dropdown">
                    <a href="#" class="equipment-btn">
                        <img src="img/equipmentIcon.png" alt="image">
                        <span>Обладнання</span>
                    </a>
                    <ul class="equipment-menu">
                        <span>
                            Обладнання:
                        </span>
                        <li>
                            <a href="#">Сонячні панелі</a>
                        </li>
                        <li>
                            <a href="#">Інвентори</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="installer-companies">
                        <img src="img/installersIcon.png" alt="image">
                        <span>Компанії-інсталятори</span></a>
                </li>
                <li>
                    <a href="#" class="entrance">
                        <img class="icon-desktop" src="img/log-in.svg" alt="image">
                        <!--<img class="icon-mobile" src="img/login-Mobile.png" alt="image">-->
                        <span class="login">Вхід</span>
                        <span class="login-mobile">Увійти</span></a>

                </li>
            </ul>
        </div>
        <!-- /.header-button -->

    </div>
</header>
