.page-footer-wrap{
  background: $dark-blue;
  padding: 40px 0;
  .page-footer{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}
.page-footer a{
  color: $lighten-gray;
}
.footer-contacts{
  display: flex;
  align-items: center;
  a{
    display: flex;
    align-items: center;
  }
  .contact-phone{
    margin-right: 95px;
  }
  img{
    margin-right: 7px;
    width: 18px;
    height: 14px;
  }
}
.installer-company{
  a{
    text-decoration: none;
    &:hover{
      border-bottom: 1px dashed;
    }
  }
}



@media (max-width: 767px) {
  .page-footer-wrap{
    padding: 0 0 35px;
    .page-footer{
      flex-direction: column;
    }
  }

  .copyright{
    text-align: center;
    a{
      display: block;
      padding: 25px 0 20px;
    }
  }
  .footer-contacts{
    flex-direction: column;
    align-items: center;
    padding: 20px 0 35px;
    .contact-phone{
      margin: 0 0 15px;
    }
  }
  .installer-company{
    text-align: center;
  }
}