<!--DEV Такой комментарий не попадет в собранный HTML
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.3.1.1.min.js"><\/script>')</script>
-->

<script src="../node_modules/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="../node_modules/swiper/dist/js/swiper.js"></script>
<script src="../node_modules/select2/dist/js/select2.js"></script>
<script src="js/script.min.js"></script>
