<!--DEV Такой комментарий не попадет в собранный HTML
<meta name="viewport" content="width=1000">
-->

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<!--DEV Edge и ряд мобильных браузеров автоматом преобразуют телефоны в ссылки. Отключим это. -->
<meta name="format-detection" content="telephone=no">


<link rel="stylesheet" href="../../node_modules/swiper/dist/css/swiper.min.css">
<link rel="stylesheet" href="../../node_modules/magnific-popup/dist/magnific-popup.css">
<link rel="stylesheet" href="../../node_modules/select2/dist/css/select2.min.css">
<link href="css/style.min.css" rel="stylesheet" media="screen">
<!--<link href="css/swiper.css" rel="stylesheet" media="screen">-->



<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<!--DEV Такой комментарий не попадет в собранный HTML
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
-->
