@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
  url('../fonts/OpenSans-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}



@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
  url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 900;
  font-style: bold;
}
@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
  url('../fonts/OpenSans-Semibold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: fontello;
  src: url('../fonts/fontello.woff2') format('woff2'),
  url('../fonts/fontello.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


