* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: $main-color;
  font-family: $font-OpenSans;
  background: #edeff4;
}
input {
  outline: none;
}

h2 {
  font-size: 24px;
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $light-white;
  cursor: pointer;
}

.img-border {
  border: 1px solid #cfd3dc;
  border-radius: 3px;
}
.general-info-companies-view {
  display: none;
}
.hidden {
  display: none;
}

.wrapper {
  padding: 20px 10px 70px;
}

.wrapper-page {
  background: #ffffff;
  padding: 25px 25px 30px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.container-sm {
  width: 100%;
  padding-right: 275px;
  box-sizing: border-box;
}

.main-btn {
  font-size: 14px;
  background: $orange;
  padding: 20px 45px;
  color: $brown;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 10px 40px rgba(255, 201, 71, 0.5);
  transition: 0.3s ease;
  position: relative;
  img {
    margin-left: 23px;
  }
  &:hover {
    box-shadow: 0 5px 20px rgba(255, 201, 71, .5);
  }
}

.view-more {
  font-size: 14px;
  border-bottom: 1px dashed #388edd;
  color: #388edd;
  display: none;
  position: relative;
  &:hover {
    border-bottom: 0;
  }
  img {
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.read-more {
  font-size: 14px;
  border-bottom: 1px dashed #388edd;
  color: #388edd;
  display: none;
}

.swiper-completed-projects.swiper-container.swiper-disabled {
  padding: 0 0 100px 0;
  .photo-completed-project {
    width: 170px;
    height: 170px;
    margin-right: 22px;
  }
  .swiper-button {
    display: none;
  }
}

//ZAPOVNENI
.about-proven-companies {
  padding: 25px 0 30px;
  background: $white;
  display: flex;
  font-size: 14px;
  color: #32394a;
}

.find-out-cost {
  background-image: url(../img/semitransparent-layer.png);
  background-color: #388edd;
  padding: 100px 70px;
  position: relative;
  margin-bottom: 25px;
  &:after {
    position: absolute;
    content: '';
    width: 295px;
    height: 40px;
    border-top: 1px solid #c4ddf5;
    border-left: 1px solid #c4ddf5;
    left: 38px;
    top: 38px;
  }
  &:before {
    position: absolute;
    content: '';
    width: 295px;
    height: 40px;
    border-right: 1px solid #c4ddf5;
    border-bottom: 1px solid #c4ddf5;
    right: 38px;
    bottom: 38px;
  }
  h3 {
    color: $white;
    position: relative;
    z-index: 1;
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
    padding-right: 350px;
  }
  .main-btn {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &:hover {
      transform: translateY(-55%);
    }
  }
}

.general-data-companies {
  width: 160px;
  padding-right: 70px;
  box-sizing: content-box;
  .logo-company {
    border-radius: 3px;
    border: 1px solid #cfd3dc;
    width: 160px;
    height: 160px;
    position: relative;
    margin-bottom: 30px;
    img {
      padding: 15px;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
  .main-info-company > div {
    margin-bottom: 40px;
    p {
      font-weight: 600;
      margin-bottom: 5px;
    }
    a {
      text-decoration: underline;
      color: #69aae5;
    }
  }
}

.rating-company {
  font-size: 14px;
}

.general-info-companies, .general-info-companies-view {
  .company-specialization {
    margin-bottom: 15px;
  }
  .name-company {
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 20px;
    display: block;
  }
  .text-block.no-text {
    height: auto;
    &:after {
      display: none;
    }
  }
}

.total-rating {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  .value-evaluation {
    display: inline-block;
    padding: 5px;
    background: #f0f3f7;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 7px;
      height: 7px;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: 100%;
      background: #f0f3f7;
      top: 50%;
      right: 0;
    }
  }
  .star-rating {
    margin: 0 12px;
  }
  p {
    display: inline-block;
    color: #a7adbb;
    a {
      text-decoration: underline;
      color: #32394a;
    }
  }
}

.text-block {
  line-height: 18px;
  color: #4b5160;
  padding-right: 25px;
  position: relative;
}
.text-block.full-text:after {
  display: none;
}

.general-list-companies {
  min-width: 275px;
  padding-left: 25px;
  box-sizing: border-box;
  position: absolute;
  right: 25px;
  top: 50px;
  font-size: 14px;
  color: #32394a;
  .hidden-group-company {
    margin-top: -20px;
  }
  p {
    position: relative;
    margin-bottom: 17px;
    font-weight: 600;
    border-bottom: 1px solid;
    display: inline-block;
  }
  .tooltip-btn {
    display: inline;
    font-weight: bold;
    position: relative;
    color: #388edd;
    border-bottom: 1px solid;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    right: 0;
    cursor: pointer;
    z-index: 10;
    &:before {
      position: absolute;
      content: '';
      left: -15px;
      top: 7px;
      width: 12px;
      height: 10px;
    }
    &:hover .tooltip-text {
      display: block;
    }
    .tooltip-text {
      position: absolute;
      box-sizing: border-box;
      display: none;
      width: 445px;
      left: -460px;
      top: -30px;
      font-size: 14px;
      color: #32394a;
      padding: 30px 25px;
      background: #ffffff;
      z-index: 11;
      border: 2px solid #edeff4;
      border-radius: 3px;
      font-weight: 100;
      line-height: 20px;
      &:after {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        border: 2px solid #edeff4;
        background: #ffffff;
        top: 32px;
        right: -8px;
        border-color: #edeff4 #edeff4 transparent transparent;
      }
      span {
        font-weight: 600;
      }
    }
  }
  ul {
    margin-bottom: 40px;
    font-size: 14px;
    li {
      margin-bottom: 17px;
      display: none;
      //&:last-child {
      //  margin-bottom: 0;
      //}
      a {
        color: #32394a;
      }
    }
    .verified-company {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  .view-more {
    display: inline-block;
  }
}

.implemented-projects {
  font-size: 24px;
  line-height: 30px;
  color: #32394a;
  margin-bottom: 25px;
  font-weight: 600;
}

.swiper-completed-projects.swiper-container {
  padding: 0 55px 100px;
  .photo-completed-project {
    position: relative;
    width: 100%;
    &:hover .photo-project:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .6);
      z-index: 1;
      cursor: pointer;
    }
    &:hover .to-enlarge {
      display: block;
      cursor: pointer;
    }
    .photo-project {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      display: block;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
      }
    }
  }
  .swiper-button {
    background: #388edd;
    top: 0;
    transform: translateY(0);
    margin: 0;
    width: 48px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
    &:after {
      position: absolute;
      content: '';
      background: #ffffff;
      width: 100%;
      height: 95px;
      bottom: -95px;
    }
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-completed-projects.swiper-container .to-enlarge.popup-link {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  img {
    margin-bottom: 5px;
  }
  span {
    color: #ffffff;
    font-size: 14px;
    border-bottom: 1px dashed;
  }
}

.reviews-container {
  margin-top: 30px;
}

.location-completed-project {
  position: absolute;
  padding: 15px 5px 15px 18px;
  font-size: 14px;
  color: #32394a;
  p {
    margin-bottom: 8px;
    position: relative;
    padding-left: 8px;
  }
  img {
    width: 10px;
    margin-right: 8px;
    position: absolute;
    left: -8px;
  }
  span {
    padding-left: 8px;
    display: inline-block;
    position: relative;
    //border-bottom: 1px solid ;
    text-decoration: underline;
    font-weight: 600;
  }
}

.write-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  .reviews-company {
    font-size: 24px;
    line-height: 30px;
    color: #32394a;
    font-weight: 600;
  }
  .main-btn {
    padding: 18px 40px;
  }
}

.reviews-wrapper {
  border: 1px solid #c7ccd7;
  border-radius: 3px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  > p {
    line-height: 24px;
    color: #32394a;
    background: #f8f9fb;
    padding: 25px 20px;
    font-size: 18px;
    font-weight: 900;
    border-bottom: 1px solid #c7ccd7;
  }
}

.review-company.hide {
  display: none;
}

.review-company {
  position: relative;
  display: flex;
  padding: 40px 45px 40px 40px;
  border-bottom: 1px solid #c7ccd7;
  &:last-child {
    border-bottom: 0;
  }
  .rating-company {
    min-width: 140px;
    padding-left: 100px;
    box-sizing: content-box;
  }
}

.review-text {
  font-size: 14px;
  color: #32394a;
  .review-title {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 17px;
  }
  p {
    line-height: 18px;
  }
}

.review-btn {
  margin-top: 30px;
  a {
    border-bottom: 1px dashed;
    &:hover {
      border-bottom: 0;
    }
  }
  .remove-review {
    color: #e75858;
    margin-right: 40px;
  }
  .edit-review {
    color: #388edd;
  }
}

.status-review {
  margin-top: 30px;
  p {
    color: #32394a;
    line-height: 18px;
    margin-bottom: 25px;
    .name-company {
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .date-review {
    color: #82899a;
    display: inline-block;
  }
  .on-verification {
    margin-top: 18px;
    color: #e48f50;
    border: 1px solid #e48f50;
    border-radius: 3px;
    padding: 10px 25px;
    margin-bottom: 0;
  }
}

.show-more-btn {
  padding: 24px 20px 22px;
  text-align: center;
  background: #f2f4f7;
  .show-more {
    font-size: 14px;
    border-bottom: 1px dashed;
    color: #32394a;
    display: inline-block;
    &:hover {
      border-bottom: 0;
      padding-bottom: 1px;
    }
  }
}

//NEZAPOVNENI
.information-absent {
  display: block;
  font-size: 14px;
  color: #4b5160;
}
.no-reviews {
  margin-top: 70px;
  .reviews-wrapper {
    border-bottom: 0;
  }
}


//REVIEW
.main-title {
  color: #4b5160;
  margin-bottom: 20px;
}
.search-items {
  display: flex;
  align-items: flex-end;
  background: #f9fafb;
  border: 1px solid #cfd3dc;
  border-radius: 3px;
  padding: 23px 18px;
  margin-bottom: 35px;
  label {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: #32394a;
  }
  .select-status-review, .whose-review, .search-brand-review {
    width: 100%;
    margin-right: 12px;
  }
  .select-status-review {
    max-width: 200px;
  }
  .whose-review, .search-brand-review {
    max-width: 240px;
  }
  .accept-btn a {
    background: #388edd;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 14px;
    text-align: center;
    line-height: 42px;
  }
}

.reviews-header-table, .equipment-header-table {
  display: flex;
  padding: 20px;
  font-size: 14px;
  color: #32394a;
  font-weight: 900;
}
.date-review, .text-review, .brand-review, .state-review {
  width: 100%;
}
.date-review {
  max-width: 90px;
  padding-right: 40px;
  box-sizing: content-box;
}
.text-review {
  max-width: 330px;
  padding-right: 45px;
  box-sizing: content-box
}
.brand-review {
  max-width: 150px;
  padding-right: 40px;
  box-sizing: content-box
}
.state-review {
  max-width: 90px;
  box-sizing: content-box
}

.view-review, .view-equipment {
  display: flex;
  font-size: 14px;
  color: #32394a;
  padding: 20px;
  border-bottom: 1px solid #eeeff3;
  align-items: center;
  &:nth-child(odd) {
    background: #fcfcfd;
  }
  p {
    line-height: 18px;
  }
  .text-review {
    p {
      margin-bottom: 5px;
    }
    span {
      display: block;
      font-weight: 900;
    }
  }
}
.status-on-verified {
  color: #e48f50;
}
.status-active {
  color: #9fb330;
}
.status-rejected{
  color: #f23737;
}

.header-date, .header-review, .header-brand, .header-status {
  display: none;
}




.admin-reviews-wrap {
  .search-items {
    align-items: flex-end;
  }
}



@media (max-width: 1199px) {
  .container {
    max-width: 992px;
  }

}

@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
    width: 100%;
  }
  .container-sm {
    padding-right: 0;
  }
  .wrapper-page {
    padding-bottom: 45px;
  }
  .about-proven-companies {
    padding-bottom: 20px;
  }

  .hidden-group-company {
    display: none;
  }
  .general-list-companies ul {
    margin-bottom: 0;
    li {
      display: none;
    }
  }

  .find-out-cost {
    padding: 95px 25px 65px 45px;
    &:after {
      left: 25px;
    }
    &:before {
      right: 25px;
    }
    h3 {
      font-size: 29px;
      padding-right: 0;
      margin-bottom: 35px;
    }
    .main-btn {
      position: relative;
      transform: none;
      right: auto;
      &:hover {
        transform: none;
      }
    }
  }
  .general-data-companies {
    padding-right: 40px;
  }
  .general-list-companies {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .tooltip-btn .tooltip-text {
      left: 30px;
      &:after {
        left: -8px;
        right: auto;
        border-color: transparent transparent #edeff4 #edeff4;
      }
    }
  }

  .review-company {
    padding: 38px 20px 35px 38px;
  }


  //CATALOG
  .search-items {
    padding: 22px 19px;
  }
  .manufacturers-invertor-item {
    .logo-organization {
      margin-right: 20px;
    }
    .about-organization {
      max-width: 195px;
    }
    .photo-invertors {
      margin-left: 45px;
    }
  }
  .search-brand-invertor {
    margin-right: 15px;
  }

  //ADMIN-REVIEWS
  .search-items {
    margin-bottom: 25px;
    .select-status-review {
      max-width: 160px;
    }
    .whose-review {
      max-width: 200px;
    }
    .search-brand-review {
      max-width: 195px;
    }
    .accept-btn a {
      width: 80px;
    }
  }
  .reviews-header-table, .view-review {
    padding: 20px 0;
  }

  .text-review {
    max-width: 320px;
    padding-right: 30px;
    box-sizing: content-box;
  }
  .brand-review {
    max-width: 105px;
  }
  .state-review {
    max-width: 110px;
  }

  .no-reviews {
    margin-top: 50px;
  }


  //EQUIPMENT
  .company-name {
    max-width: 350px;
  }
  .quantity-dealers, .quantity-photo {
    padding-right: 50px;
  }
  //.quantity-reviews {}
}

//EQUIPMENT
.equipment-wrap {
  .accept-btn a {
    width: 80px;
  }
}
.add-brand-equipment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  h2 {
    margin-bottom: 0;
  }
  .add-brand {
    font-size: 14px;
    color: #ffffff;
    background: #a1bd4c;
    border-radius: 2px;
    padding: 16px 37px;
  }
}

.search-brand-type {
  max-width: 320px;
  width: 100%;
  margin-right: 15px;
}
.search-brand-equipment {
  max-width: 370px;
  width: 100%;
  margin-right: 15px;
}
.view-equipment {
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

//.equipment-header-table {
//}
.company-name {
  max-width: 375px;
  padding-right: 50px;
  width: 100%;
}
.quantity-dealers, .quantity-photo {
  max-width: 165px;
  padding-right: 80px;
  width: 100%;
  text-align: center;
}
.quantity-reviews {
  max-width: 85px;
  width: 100%;
  text-align: center;
}



//CATALOG
.catalog-invertor-wrap {
  h2 {
    font-size: 30px;
    line-height: 36px;
    color: #32394a;
    margin-bottom: 25px;
  }
}
.search-items {
  //display: flex;
  //align-items: center;
  //padding: 25px 30px;
  //background: #f9fafb;
  //border: 1px solid #cfd3dc;
  //border-radius: 3px;
  //margin-bottom: 35px;
  label {
    font-weight: 100;
    font-size: 14px;
    color: #32394a;
  }
}
.search-brand-invertor {
  max-width: 430px;
  width: 100%;
  margin-right: 65px;
  input {
    width: 100%;
    border-radius: 3px;
    margin-top: 15px;
    display: block;
    height: 40px;
    border: 1px solid #cfd3dc;
    padding: 0 15px;
    font-size: 14px;
  }
}
.sort-brand-invertor {
  max-width: 310px;
  width: 100%;
  .select2-container {
    display: block;
    width: 100% !important;
    margin-top: 15px;
  }
  .select2-container--default .select2-selection--single {
    border: 1px solid #cfd3dc;
    border-radius: 3px;
    height: 42px;
    outline: 0;
    font-size: 14px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    color: #32394a;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    height: 100%;
    &:after {
      position: absolute;
      content: url(../img/arrow.svg);
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }
}

.select2-container {
  display: block;
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #cfd3dc;
  border-radius: 3px;
  height: 42px;
  outline: 0;
  font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  color: #32394a;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 100%;
  &:after {
    position: absolute;
    content: url(../img/arrow.svg);
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container {
  font-size: 14px;
  width: 100% !important;
}


.manufacturers-invertor-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #32394a;
  padding: 28px 0;
  border-bottom: 1px solid #dfe1e6;
  .logo-organization {
    position: relative;
    min-width: 92px;
    min-height: 92px;
    max-width: 92px;
    max-height: 92px;
    margin-right: 35px;
    img {
      position: absolute;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .about-organization {
    max-width: 340px;
    width: 100%;
    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 5px;
        color: #32394a;
      }
    }
    .total-rating {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .number-dealers {
    font-size: 14px;
    width: 173px;
    background: #f9fafb;
    padding: 16px 18px;
    text-align: center;
    box-sizing: border-box;
    span {
      font-size: 26px;
      font-weight: bold;
      color: #a2a7b4;
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .photo-invertors {
    font-size: 14px;
    margin-left: 80px;
    width: 64px;
    img {
      margin-bottom: 10px;
    }
    a {
      font-weight: bold;
      border-bottom: 1px solid;
      color: #32394a;
    }
  }
}

.manufacturer-info-wrap, .manufacturer-dealers-wrap {
  display: flex;
  align-items: center;
}


.pagination-container {
  margin: 70px 0 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  .button-prev, .button-next {
    padding: 12px 23px;
    border-radius: 2px;
    display: inline-block;
  }
  .button-prev {
    background: #f3f5fa;
    color: #565e72;
  }
  .button-next {
    background: #388edd;
  }
  .pagination {
    margin: 0 28px;
    display: inline-block;
    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      color: #32394a;
    }
    a.active {
      background: #388edd;
      color: #ffffff;
      border-radius: 2px;
    }
  }
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  //CATALOG
  .catalog-invertor-wrap {
    padding-top: 20px;
  }

}

@media screen and (max-width: 650px) {
  .wrapper {
    padding: 20px 0 50px 0;
  }
  .wrapper-page {
    padding: 25px 8px;
  }
  .read-more {
    display: inline-block;
  }
  .general-list-companies .tooltip-btn .tooltip-text {
    top: 35px;
    left: 0;
  }

  .find-out-cost {
    padding: 21px 11px 24px;
    text-align: center;
    line-height: 24px;
    &:before, &:after {
      display: none;
    }
    h3 a {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .main-btn {
      padding: 18px 58px;
    }
  }
  .general-info-companies-view {
    display: block;
    margin-bottom: 25px;
    .total-rating{
      width: 100%;
      margin-bottom: 25px;
    }
    .text-block {
      padding-right: 0;
      height: 195px;
      overflow: hidden;
      width: 100%;
      //position: absolute;
      //top: 215px;
      &:after {
        position: absolute;
        content: '';
        z-index: 2;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 45px;
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 1));
      }
    }
    .view-more {
      margin-top: 5px;
      display: inline-block;
      //position: absolute;
      //bottom: 0;
      //left: 0;
      //z-index: 10;
    }
  }
  .general-info-companies {
    display: none;
  }

  .about-proven-companies {
    flex-direction: column;
    padding-top: 0;
    .general-data-companies {
      width: 100%;
      padding-right: 0;
      .logo-company {
        width: 120px;
        height: 120px;
        display: inline-block;
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
        //position: absolute;
      }
      .main-info-company > div {
        margin-bottom: 20px;
        p {
          display: inline-block;
        }
      }
    }
  }
  .general-list-companies {
    flex-direction: column;
    margin-bottom: 0;
    .group-company {
      margin-bottom: 40px;
      position: relative;
      .tooltip-btn {
        position: absolute;
        left: auto;
        right: auto;
        width: 8px;
        top: 0;
        transform: none;
      }
    }
  }
  .review-company {
    flex-direction: column;
    //padding-bottom: 75px;
    padding: 24px 16px 75px;
    .review-btn {
      position: absolute;
      bottom: 33px;
    }
    .rating-company {
      padding-left: 0;
      margin-top: 40px;
      .date-review {
        display: block;
      }
      .on-verification {
        display: inline-block;
      }
    }
  }
  .status-review {
    margin-top: 18px;
    p {
      margin-bottom: 18px;
    }
  }

  //CATALOG
  .search-items {
    flex-direction: column;
    padding: 21px 8px 23px;
    margin-bottom: 0;
    .search-brand-invertor, .sort-brand-invertor {
      max-width: 100%;
      margin-right: 0;
    }
    .search-brand-invertor {
      margin-bottom: 25px;
    }
  }
  .manufacturers-invertor-item {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-bottom: 0;
    padding: 35px 0;
    &:after {
      position: absolute;
      content: '';
      left: -10px;
      right: -10px;
      height: 10px;
      background: #edeff4;
      bottom: -5px;
    }
    .manufacturer-info-wrap {
      margin-bottom: 20px;
      align-items: flex-start;
    }
    .about-organization {
      max-width: 100%;
      h3 {
        white-space: pre-wrap;
        margin-bottom: 10px;
        a{
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
        }
      }
      .total-rating {
        flex-wrap: wrap;
        p {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    .number-dealers {
      width: 200px;
      height: 60px;
      position: relative;
      padding: 15px 15px 15px 48px;
      span {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
      p {
        text-align: left;
      }
    }
    .photo-invertors {
      margin-left: 27px;
      img {
        width: 55px;
        margin-bottom: 5px;
      }
    }
  }

  .pagination-container {
    flex-wrap: wrap;
    padding-bottom: 25px;
    margin-bottom: 0;
    .pagination {
      width: 100%;
      margin: 0 0 30px;
      order: 0;
    }
    .button-prev, .button-next {
      order: 1;
    }
    .button-prev {
      margin-right: 47px;
    }
  }




  //ADMIN REVIEW
  .search-items {
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 8px;
    .select-status-review, .whose-review, .search-brand-review {
      max-width: 100%;
      margin-bottom: 25px;
    }
    .accept-btn {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }

  .reviews-header-table {
    display: none;
  }
  .view-review {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0;
    position: relative;
    padding-top: 5px;
    &:before {
      position: absolute;
      content: '';
      left: -10px;
      right: -10px;
      height: 10px;
      bottom: 0;
      background: #edeff4;
    }
  }
  .header-date, .header-review, .header-brand, .header-status {
    display: block;
    font-weight: 900;
    margin-right: 10px;
  }
  .date-review, .brand-review, .state-review, .text-review {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 13px 0;
  }
  .text-review {
    flex-direction: column;
    align-items: flex-start;
  }
  .review-item {
    border-bottom: 1px solid #e3e5eb;
    &:last-child {
      border: 0;
    }
  }
}

@media screen and (max-width: 599px) {
  .container {
    padding: 0 10px;
  }
  .header-button.active {
    left: -10px;
    right: -10px;
  }
  .write-review {
    flex-direction: column;
    align-items: flex-start;
    .reviews-company {
      margin-bottom: 15px;
    }
    .main-btn {
      max-width: 290px;
      width: 100%;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
}





