/// Базовые цвета https://colorscheme.ru/color-converter.html
$main-color: #5b6374;

$light-white: #edeff4;
$dark-blue: #32394a;
$light-blue: #388edd;
$orange: #ffc947;
$brown: #634716;
$blue: #388edc;
$lighten-blue: #2c7acb;
$light-gray: #e6e8ed;
$lighten-gray: #a0a8ba;

$dashed-blue: #b4cdea;


$border-gray: #a4a9b4;

$bg-gray: #f5f7fa;
//$main-color:                  rgba(25, 25, 25, 0.9);
$red:                         #ee3730;
$dark-red:                     #d23d3d;
//$light-white:                   rgba(255, 255, 255, 0.9);
$light-blue:                   #1c7aae;


$color-main:                  #1c78ad;
$color-blue:                  #1c78ad;
$white:                       #fff;
$gray:                        #dededd;
$light-gray:                  #e3e8ee;
$lighten-gray:                rgba(153, 153, 153, 0.9);


$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
//$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);


$color-success:               rgba(255, 255, 255, 0.9);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);





// Семантические цвета

$text-color:                  $gray-darkest;
$text-color--muted:           $gray;
$body-bg:                     #fff;

//$link-color:                  $color-main;
//$link-color--hover:           darken($color-main, 15%);

$border-color:                $gray-light;



// Базовая типографика

$font-size:                   14px;
$font-size--h1:               2.25em;
$font-size--h2:               1.875em;
$font-size--h3:               1.5em;
$font-size--h4:               1.25em;
$font-size--h5:               1em;
$font-size--h6:               1em;
$font-size--small:            0.75em;

$line-height:                 1.2;


$font-OpenSans :              OpenSans, sans-serif, arial;
$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-exo:                     exo, sans-serif, arial;
$font-Roboto-Bold:                     Roboto-Bold, sans-serif, arial;
$font-Roboto-Regular:                     Roboto-Regular, sans-serif, arial;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      0.3em;
$field-padding-horizontal:    0.7em;

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-xl;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

$z-index-modal:               100;
